@* note 의 detail*@


@using Microsoft.AspNetCore.Http
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header"> @Model.NoteTitle</h2>
    </div>
</div>
<br />
<br />

<div class="row">
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel panel-heading ">
                <label><b>제목 :  </b> </label>  @Model.NoteTitle
            </div>
            <div class="panel-body">
                @Html.Raw(Model.NoteContents)
            </div>
            <div class="panel-footer text-right">
                @if (Context.Session.GetInt32("USER_LOGIN_KEY") != null && Context.Session.GetInt32("USER_LOGIN_KEY") == Model.UserNo )
                {
                    <a class="btn" text-align="right" asp-controller="Note" asp-action="Edit" asp-route-noteNo="@Model.NoteNo">수정</a>
                    <a class="btn btn-warning" text-align="right" asp-controller="Note" asp-route-noteNo="@Model.NoteNo" asp-action="Delete">삭제</a>
                }
                <a class="btn btn-primary" text-align="right" asp-controller="Note" asp-action="Index">목록</a>
            </div>
        </div>
    </div>
</div>